################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRM.LIB/obj
/CRM_API/bin/Debug/net8.0
/CRM_API/obj
